.App {
  text-align: left;
  overflow-x: hidden;
}

.socials {
  margin-left: 0;
  bottom: 0;
  display: inherit;
}
.social-logo {
  padding: .75rem .75rem .75rem 0;
}
.logo-filter {
  filter: invert(10%);
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-itrems: flex-start;
  -ms-flex-align: start;
  align-itrems: flex-start;
}

.heading-tag {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
}

.paragraph {
  width: 25rem;
  margin-top: 2rem;
  font-family: 'Source Code Pro', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.left-container {
  display: flex;
  width: 50%;
  height: 100%;
  align-itrems: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-content {
  position: fixed;
  display: flex;
  margin-right: 1rem;
  margin-left: 1rem;
  flex-direction: column;
  align-itrems: flex-start;
}
.right-container {
  width: 50%;
}

.resume-button {
  display: inline-block;
  background-color: #fff;
  border: #333 solid;
  color: #333;
  width: 5rem;
  margin: .75rem 0 1rem 0;
  padding: .5rem;
  text-align: center;
  font-family: 'Source Code Pro', sans-serif;
  text-decoration: underline;
  font-weight: 500;
  font-size: 14px;
}

@media screen and (min-width: 850px) {
  .left-container:before {
    background: #fff no-repeat;
    content: "";
    position: fixed;
    height: 100%;
    width: 50%;
  }
}
@media screen and (max-width: 849px) {
  .container {
    display: block;
  }
  .left-container:before {
    background: #fff no-repeat;
    height: 50%;
    width: 100%;
  }
  .left-container {
    background: #fff;
    width: 100%;
    height: 40rem;
  }
  .left-content {
    position: static;
    margin-left: 3rem;
    max-width: 35rem;
  }
  .paragraph {
    width: 90%;
  }
  .right-container {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .left-container {
    width: 100%;
    height: 40rem;
  }
  .left-content {
    position: static;
    margin-left: 3rem;
  }
  .paragraph {
    width: 90%;
  }

  .right-container {
    width: 100%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .resume-button {
    animation: pulse-scale-anim infinite 1s linear;
  }
  .project-logo {
    animation: skew-anim infinite 3s linear;
  }
}

@keyframes pulse-scale-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes skew-anim {
  0% {
    transform: skew(0deg);
  }
  25% {
    transform: skew(2deg);
  }
  75% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(0deg);
  }
}
