.App {
  text-align: left;
}
.project-logo {
  height: 10rem;
  pointer-events: none;
}
.socials {
  margin-left: 0;
  bottom: 0;
  display: inherit;
}
.social-logo {
  padding: .75rem .75rem .75rem 0;
}
.logo-filter {
  filter: invert(10%);
}

.project {
  background: #fff;
  color: #ddd;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.project-label {
  padding-top: 1rem;
  padding-left: 1rem;
  font-family: 'Source Code Pro', sans-serif;
  color: #f8f8f8;
  text-decoration: none;
}

.project-description {
  padding-left: 1rem;
}

/* Example of how I will make
backgrounds more interesting */
.project:nth-of-type(6n+1) {
  background:
          radial-gradient(
                  at bottom right,
                  rgba(0, 0, 0, 0.66),
                  transparent 200%
          ),
          radial-gradient(
                  at bottom left,
                  rgba(0, 0, 0, 0.66),
                  transparent 200%
          ),
          radial-gradient(
                  at top left,
                  rgba(0, 255, 0, 0.75),
                  transparent 66%
          ),
          radial-gradient(
                  at top right,
                  rgba(0, 255, 255, 0.75),
                  transparent 66%
          );
}
.project:nth-of-type(6n+2) {
  background: #aaaa11;
}

.project:nth-of-type(6n+3) {
  background: #11aa11;
}
.project:nth-of-type(6n+4) {
  background: #11aaaa;
}
.project:nth-of-type(6n+5) {
  background: #1111aa;
}
.project:nth-of-type(6n+6) {
  background: #aa11aa;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-itrems: flex-start;
  -ms-flex-align: start;
  align-itrems: flex-start;
}

.heading-tag {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
}

.paragraph {
  width: 25rem;
  margin-top: 2rem;
  font-family: 'Source Code Pro', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.left-container {
  display: flex;
  width: 50%;
  height: 100%;
  align-itrems: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-content {
  position: fixed;
  display: flex;
  margin-right: 1rem;
  margin-left: 1rem;
  flex-direction: column;
  align-itrems: flex-start;
}
.right-container {
  width: 50%;
}

.resume-button {
  display: inline-block;
  background-color: #fff;
  border: #333 solid;
  color: #333;
  width: 5rem;
  margin: .75rem 0 1rem 0;
  padding: .5rem;
  text-align: center;
  font-family: 'Source Code Pro', sans-serif;
  text-decoration: underline;
  font-weight: 500;
  font-size: 14px;
}

@media screen and (min-width: 850px) {
  .left-container:before {
    background: #fff no-repeat;
    content: "";
    position: fixed;
    height: 100%;
    width: 50%;
  }
}
@media screen and (max-width: 849px) {
  .container {
    display: block;
  }
  .left-container:before {
    background: #fff no-repeat;
    height: 50%;
    width: 100%;
  }
  .left-container {
    background: #fff;
    width: 100%;
    height: 40rem;
  }
  .left-content {
    position: static;
    margin-left: 3rem;
    max-width: 35rem;
  }
  .paragraph {
    width: 90%;
  }
  .right-container {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .left-container {
    width: 100%;
    height: 40rem;
  }
  .left-content {
    position: static;
    margin-left: 3rem;
  }
  .paragraph {
    width: 90%;
  }

  .right-container {
    width: 100%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .resume-button {
    animation: pulse-scale-anim infinite 1s linear;
  }
  .project-logo {
    animation: skew-anim infinite 3s linear;
  }
}

@keyframes pulse-scale-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes skew-anim {
  0% {
    transform: skew(0deg);
  }
  25% {
    transform: skew(2deg);
  }
  75% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(0deg);
  }
}
